
.contact-head h1{
    text-align: center;
    font-size: 48px;
    color: #282938;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;

}
.contact-head p{
    width: 562px;
    /* height: 56px; */
    left: 519px;
    top: 300px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
    margin: 0 auto;
    padding-bottom: 56px;
}
.cont-main{
    display: flex;
    background-color: #F4F6FC;
    text-align: center;
}
.cont-mess{
    background-color: #F4F6FC;
}
