
nav{
    background: #1C1E53;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}
.logo{
    width: 30%;
}
.menu{
    width: 70%;
}
.menu ul{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 92px;
}
.menu ul li a{
    padding:0 32px;
    color: #fff;
}
.menu ul li:last-child a{
    padding: 0;
}
.menu .contact{
    border: 1px solid #F4F6FC;
    padding: 16px 48px !important;
    border-radius: 41px;
}
